{
    "plugins": [
        [
            "module-resolver",
            {
                "root": [
                    "."
                ],
                "alias": {
                    "src": "./src",
                    "server": "./server",
                    "styles": "./styles"
                },
                "extensions": [
                    ".js",
                    ".jsx",
                    ".json",
                    ".ts",
                    ".tsx"
                ],
                "cwd": "babelrc"
            }
        ],
        [
            "@babel/plugin-proposal-decorators",
            {
                "legacy": true
            }
        ],
        "transform-class-properties"
    ],
    "presets": [
        [
            "next/babel",
            {
                "preset-env": {
                    "targets": {
                        "node": "current"
                    }
                }
            }
        ]
    ],
    "ignore": []
}
